.header {
    font-size: 2rem;
    color: green;
}


.subheader {
    font-size: 1.5rem;
    color: skyblue;
}

.italic {
    font-style: italic;
}

.bold {
    font-weight: bold;
}

.underline {
    text-decoration: underline;
}