<div class="p-4">
  <h1 class="text-center">Signin</h1>
  <div class="d-flex flex-column justify-content-center align-items-center">
    <div class="mb-3">
      <label for="email" class="form-label">Email address</label>
      <input
        [(ngModel)]="email"
        type="email"
        class="form-control"
        id="email"
        placeholder="name@example.com"
      />
    </div>

    <div class="mb-3">
      <label for="password" class="form-label">Password</label>
      <input
        [(ngModel)]="password"
        type="password"
        class="form-control"
        id="password"
        placeholder="password"
      />
    </div>

    <button 
        class="btn btn-primary"
        (click)="submit()"
    >Signin</button>
  </div>
</div>
